<div class="container mx-auto px-4">
    <div class="grid grid-cols-6 md:grid-cols-12 items-center">
        <div class="w-full col-span-6">
            <h1 class="text-6xl font-bold mb-4">Hi, I'm Reed Sloan</h1>
            <p class="text-black text-xl mb-8">
                I'm a software engineer specializing in Android development (Kotlin) and web development (Angular,
                TypeScript) with a strong foundation in object-oriented programming and a problem-solving mindset.
            </p>
            <div class="flex flex-row items-center">
                <a href="/portfolio" class="secondary-button font-bold py-3 px-6 rounded-full inline-block">View My Work</a>
            </div>
        </div>
        <div class="px-4 flex justify-end col-span-6">
            <img class="rounded-full cover-image" src="assets/code.jpg" alt="Hero Image">
        </div>
    </div>
</div>
