<div class="secondary py-8 mt-24">
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap justify-between items-center -mx-4">
      <div class="w-full md:w-1/2 px-4 flex flex-row items-center gap-4">
        <a href="https://flowbite.com/" class="flex items-center mb-4 sm:mb-0">
            <span class="self-center text-2xl font-semibold whitespace-nowrap">Reed Sloan</span>
        </a>
        <p class="">© 2023 Reed Sloan. All rights reserved.</p>
      </div>
      <div class="w-full md:w-1/2 px-4">
        <ul class="flex justify-end ">
          <li class="mr-6">
            <a href="#" class="hover:opacity-80">Privacy Policy</a>
          </li>
          <li>
            <a href="#" class="hover:opacity-80">Terms of Service</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>