@tailwind base;
@tailwind components;
@tailwind utilities;

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/**
Your selected colors:

    Primary: #e9fde7 (RGB: 233, 253, 231)
    Secondary: #020e01 (RGB: 2, 14, 1)
    Primary Button: #1ab80f (RGB: 26, 184, 15)
    Secondary Button: #052603 (RGB: 5, 38, 3)
    Accent: #1ed011 (RGB: 30, 208, 17)

Realtime Colors link for selected colors: https://realtimecolors.com/?colors=e9fde7-020e01-1ab80f-052603-1ed011

Thanks for using RealtimeColors.com!
*/

.background {
  background-color: #e1f9e1;
  color: #061e06;
}

.primary-button {
  background-color: #c0ffba;
  color: #061e06;
}

.secondary-button {
  background-color: #ffffff;
  color: #061e06;
}

.secondary {
  background-color: #ffffff;
  color: #000000;
}

.secondary-button {
  background-color: #083a05;
  color: #ffffff;
}

.secondary-button:hover {
  opacity: 0.8;
}

.accent {
  background-color: #083a05;
  color: #f0f3ef;
}

.nav-link:hover {
  background-color: #083a05;
  opacity: 0.8;
  color: #ffffff;
}

.cover-image {
  width: 32rem;
  height: 32rem;
  object-fit: cover;
}

.mt-max {
  margin-top: 32rem;
}