<app-hero id="#top"></app-hero>

<!-- about me -->
<div class="container mx-auto px-4 mt-max" id="about-me">
  <div class="grid grid-cols-6 md:grid-cols-12 items-center">
      <div class="col-span-6">
          <!-- <img class="rounded-3xl cover-image" src="assets/code.jpg" alt="Hero Image"> -->
      </div>
      <div class="w-full col-span-6">
          <h1 class="text-2xl font-bold mb-4">About Me</h1>
          <p class="text-xl mb-8">
            I'm always looking for new opportunities to learn and grow as a software engineer. If you have any
            questions or would like to get in touch, please feel free to reach out to me via email or LinkedIn.
          </p>
          <div class="flex flex-row items-center justify-start gap-4 text-4xl">
            <a href="https://www.linkedin.com/in/reedsloan/" class="fab fa-linkedin"></a>
            <a href="mailto:sloanmobile@gmail.com" class="fas fa-envelope"></a>
          </div>
      </div>
  </div>
</div>

<app-footer></app-footer>